.header {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}


.avatar {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: (var(--avatar-background));
}

.info {
  width: 100%;
}

.name_row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 1.75rem;
  font-weight: 600;
}

.username {
  margin-top: 0.25rem;
}

.bio {
  color: #6b7280;
  margin-top: 1rem;
}

.follow_button {
  display: inline-block;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
