@use '/src/styles/mixins';

.loginContainer {
  @include mixins.auth_page_container;
}

.loginBox {
  @include mixins.auth_box;

  .title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #222;

    .title_second_part {
      color: var(--main-color);
    }
  }
}
