.profile_container {
  width: 100%;
  margin: 10px 0 0 0;
  padding: 20px;
  box-sizing: border-box;
}

.profile_info_container{
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
}
