.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.siteTitle {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  cursor: pointer;

  span {
    color: var(--main-color);
  }
}

.loginButtonWrapper {
  display: flex;
  align-items: center;
}
